{% extends 'base.html' %}

{% block title %}我的购物车{% endblock %}

{% block content %}
    <h1>我的购物车</h1>
    <form action="{% url 'shop:cart' %}" method="post">
    {% csrf_token %}
            {% for temp in shopping_cart %}
        <label><input type="checkbox" value="{{ temp.id }}" name="good_list"></label>
        <a href="{% url 'shop:good_detail' temp.good.fake_id %}">{{ temp.good.name }}</a>
            价格:{{ temp.good.price}}
            个数:<label><input type="number" value="1" name="{{ temp.id }}"></label><br>
        {{ error }}
            {% endfor %}
        {% if shopping_cart %}
        <input type="submit" value="下单">
        {% else %}
        <p>还没有物品</p>
        {% endif %}
    </form>
<a href="{% url 'shop:good_display' %}">返回商城</a>

{% endblock %}